{% extends "front_page.html" %}
<head>
  <title>{% block title %}{{category_name}} Items{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css" media="screen" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {% block body %}
  <h3 class="subtitle">{{category_name}} Items</h3>

  {% for i in category_items %}

  <a href="{{url_for('itemPage', category = category_name, item_id = i.id)}}">{{i.name}}</a>

  <br />

  {% endfor %}

  {% endblock %}

</body>
