<html>
<head>
  <title>{% block title %}Catalog{% endblock %}</title>
</head>
<body>
  <h1>Catalog</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

  <a href="{{url_for('newItem')}}">New Item</a>
  <a href="{{url_for('categoryPage', category_name ='Soccer')}}">Soccer</a>
  <a href="{{url_for('categoryPage', category_name ='Snowboarding')}}">Snowboarding</a>
  <a href="{{url_for('categoryPage', category_name ='Baseball')}}">Baseball</a>
  <a href="{{url_for('categoryPage', category_name ='Hockey')}}">Hockey</a>
  <a href="{{url_for('categoryPage', category_name ='Frisbee')}}">Frisbee</a>
  <a href="{{url_for('categoryPage', category_name ='Rockclimbing')}}">Rockclimbing</a>
  <a href="{{url_for('categoryPage', category_name ='Foosball')}}">Foosball</a>
  <a href="{{url_for('categoryPage', category_name ='Skating')}}">Skating</a>

  {% block body %}

  <h2>Latest Items</h2>
  {% for item in latest_items %}
    <h4>{{item.name}}</h4>
  {% endfor%}

  {% endblock %}
</body>
</html>
