{% extends "front_page.html" %}
{% block body %}
<form action="{{url_for('newItem')}}" method = 'POST'>
  <label for="item-name">Item Name:</label>
  <input type='text' name='name' id="item-name"/>
  <label for="item-description">Description:</label>
  <input type='text' name='item-description' id="item-description"/>
  <select name="category">
    <option value="Snowboarding">Snowboarding</option>
    <option value="Soccer">Soccer</option>
    <option value="Baseball">Baseball</option>
    <option value="Frisbee">Frisbee</option>
    <option value="Rock Climbing">Rock Climbing</option>
    <option value="Foosball">Foosball</option>
    <option value="Skating">Skating</option>
    <option value="Hockey">Hockey</option>
  </select>
  <input type='submit' value='Create'>
</form>
{% endblock %}
